---
---

$sans-serif-font-family: "Quattrocento Sans", sans-serif;
$serif-font-family:      "PT Serif", Georgia, "Times New Roman", serif;
$code-font-family:       "Source Code Pro", monospace;

$body-color:             #505050;
$link-color:             black;

$code-background-color:   #f5f5f5;
$pagination-button-color: #e0e0e0;

$dark-gray-color:        #333;
$light-gray-color:       #999;
$extra-light-gray-color: #ccc;

$container-responsive-width: 768px;
$elements-responsive-width:  30em;

$icon-transition-time: .5s;
$envelope-color:       #f39c12;
$twitter-color:        #00aced;
$instagram-color:      #375989;
$github-color:         #343434;
$linkedin-color:       #0073a4;
$facebook-color:       #3d5b99;
$pinterest-color:      #bd081c;
$medium-color:         #00AB6C;
$codepen-color:        black;
$rss-color:            #ff6600;

@import "-sections-dir";
  
//   *{
//     border: 0;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   html{
//     height: 60%;
//     font-family: 'Montserrat', sans-serif;
//     font-size: 8px;
//   }
  
//   body{
//     height: 60%;
//   }
  
  .hero-section{
    align-items: flex-start;
    // background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 60%;
    justify-content: center;
    padding: 16px 6px;
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    max-width: 1200px;
    width: 100%;
  }
  
  @media(min-width: 270px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 480px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: 6px;
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: rgba(255,255,255,0.8);
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 1px;
    // text-transform: uppercase;
  }
  
  .card__heading{
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    line-height: 1.0;
    word-spacing: 100vw;
  }

  .card__description{
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    font-size: 0.6rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }