:root {
  --accent: rgb(5, 94, 53) !important;
  --accent-alpha-70: rgba(5, 94, 53, .7) !important;
  --accent-alpha-20: rgba(5, 94, 53, .2) !important;
  --background: #1F222A;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
